<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h1>Admin</h1>
<h2>Early Refresh</h2>
<button onclick="refresh_early()">Refresh Early</button>
<h2>Clients</h2>
<button onclick="reload_all()">Reload All</button>
<button onclick="identify_all()">Identify All</button>
<button onclick="evaluate_all()">Evaluate All</button>
<table id="clients">
    <tr>
        <th>ID</th>
        <th>IP</th>
        <th>Last Seen</th>
        <th>Reload</th>
        <th>Evaluate</th>
        <th>Identify</th>
        <th>Data</th>
    </tr>
</table>
<script>
    function refresh_early() {
        xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/api/admin/refresh", true);
        xmlhttp.send()
    }

    function unix_to_iso(unix) {
        var date = new Date(unix * 1000);
        return date.toISOString().slice("2022-12-03T".length, -5);
    }

    function reload_table(btn) {
        uid = btn.parentNode.parentNode.cells[0].innerText;
        evaluate_send(uid, "window.location.reload()");
    }

    function reload_all() {
        evaluate_send("*", "window.location.reload()");
    }

    function identify_table(btn) {
        uid = btn.parentNode.parentNode.cells[0].innerText;
        identify_send(uid);
    }

    function identify_all() {
        window.clients.forEach(function (client) {
            identify_send(client.uid);
        });
    }

    function identify_send(uid) {
        evaluate_send(uid, "document.getElementById('topHeader').innerText = 'IDENT ' + '" + uid.slice(0, 9) + "'");
    }

    function evaluate_table(btn) {
        uid = btn.parentNode.parentNode.cells[0].innerText;
        text = prompt("Enter JavaScript to evaluate");
        evaluate_send(uid, cleanse_js(text));
    }

    function evaluate_send(uid, text) {
        fetch("/api/admin/evaluate", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                uid: uid,
                code: text
            })
        }, function (response) {
            console.log(response);
        });
    }

    function cleanse_js(text) {
        banned = ["alert", "prompt"]
        for (var i = 0; i < banned.length; i++) {
            if (text.includes(banned[i])) {
                alert("Banned word in text; use manually from console to override. Logged your code to the console.")
                console.log(text);
                return ""
            }
        }

        return text
    }

    function evaluate_all() {
        text = prompt("Enter JavaScript to evaluate on ALL CLIENTS")
        evaluate_send("*", cleanse_js(text))
    }

    setInterval(get_clients, 1000);
    get_clients()

    function get_clients() {
        fetch("/api/admin/clients")
            .then(response => response.json())
            .then(data => {
                window.clients = data
                let table = document.getElementById("clients");
                table.innerHTML = "<tr><th>ID</th><th>IP</th><th>Last Seen</th><th>Reload</th><th>Evaluate</th><th>Identify</th><th>Data</th></tr>";
                for (let client of data) {
                    let row = table.insertRow();
                    let id = row.insertCell(0);
                    let ip = row.insertCell(1);
                    let last_seen = row.insertCell(2);
                    let reload = row.insertCell(3);
                    let evaluate = row.insertCell(4);
                    let identify = row.insertCell(5);
                    let data = row.insertCell(6);
                    id.innerText = client.uid;
                    ip.innerText = client.ip;
                    last_seen.innerText = unix_to_iso(client.lastConnected)
                    reload.innerHTML = "<button onclick='reload_table(this)'>Reload</button>";
                    evaluate.innerHTML = "<button onclick='evaluate_table(this)'>Evaluate</button>";
                    identify.innerHTML = "<button onclick='identify_table(this)'>Identify</button>";
                    data.innerText = JSON.stringify(client.data);
                }
            });
    }
</script>
</body>
</html>