<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advent of Code Leaderboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,500;0,600;0,700;0,800;1,200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/reset.css">
    <link rel="stylesheet" href="assets/style.css">

    <script src="assets/main.js"></script>
</head>
<body class="crt">
<!-- Header -->
<header>
    <h1 id="topHeader">Advent of Code Day XX</h1>
</header>
<!--Flexbox that splits page in two for day and total leaderboard -->
<div class="leaderboard-flex-container" id="leaderboard-flex-container">
    <!-- Today's leaderboard -->
    <div class="leaderboard l-bord-right l-bord-top l-bord-bot" id="todayLeaderboard">
        <h2 class="l-bord-head">Today's Leaderboard</h2>
        <table id="day-table">
            <tr>
                <th></th>
                <th>Points</th>
                <th style="width: 50%">Name</th>
                <th>1*T</th>
                <th>2*T</th>
                <th>ΔT</th>
            </tr>
            <tbody id="day-table-insert">
            </tbody>
        </table>
    </div>
    <div class="leaderboard l-bord-left l-bord-top l-bord-bot" id="totalLeaderboard">
        <h2 class="l-bord-head">Total Leaderboard</h2>
        <table id="total-table">
            <tr>
                <th></th>
                <th>Points</th>
                <th style="width: 50%">Name</th>
                <th>Total Stars</th>
            </tr>
            <tbody id="total-table-insert">
            </tbody>
        </table>
    </div>
</div>

<!--------------------------->

<!-- TODO Podium that appears if there's space -->

<!--------------------------->

<!-- Footer -->
<div class="footerbox">
    <p>
        adventofcode.com
    </p>
    <p>
        Leaderboard code {{ leaderboardCode }}
    </p>
    <p>
        aoc.alexcj.co.uk
    </p>
    <p>
        <span id="timeUntilUpdate">Updating in XX:XX:XX</span>
    </p>
</div>
</body>
</html>